@-webkit-keyframes fallingSnow {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(0px, 800px);
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(0px, 1000px);
  }
}

.fallingSnow {
  position: absolute;
  top: -300px;
  display: block;
}

.fallingSnow span {
  font-size: 2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -280px 50px 54px -34px;

    -webkit-animation: fallingSnow 3s linear;
    -moz-animation: fallingSnow 3s linear;
}

.fallingSnow span:nth-child(5n+5) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
}

.fallingSnow span:nth-child(3n+2) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.fallingSnow span:nth-child(2n+5) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}



@media only screen and (max-width: 960px){
  .fallingSnow {
    top: -600px;
  }
}
